.header{
    background-color: #56CDF0;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.header .logo img {
    height: 100px;
    margin-left: 20px;
    border-radius: 15px;
}

.header .search {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header .search input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding-left: 10px;
}

nav {
    box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
}
.card {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 10px 8px 21px 0px rgba(204, 204, 204, 0.75);
    transition: transform .3s;
}

.card:hover {
    transform:scale(1.1);
    transition: transform .3s;
}
